<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/chat.css">
	<title>socket chat</title>
</head>
<body>
  <header>
  	<h1>great chat</h1>
  </header>
    
    <main>

      <div id="all-messages">
       
      </div>
      
      <div class="send-message">
        <input type="text" name="message" id="message">
        <button type="button" disabled id="send-message" class="btn secondary">enviar</button>
      </div>
    </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>
</html>